<html lang="es">

<body>
    <h1>detalle del gato "<%= gatos.name %>"</h1>
    <img src="<%= gatos.img %>" alt="">
    <section>
        <p>Comida Favorita : <%= gatos.comidafavorita %></p>
    </section>    
    <section>
        <p>Edad : <%= gatos.edad %></p>
    </section>    
  
</body>
</html>